.header {
  width: 100%;
  background-color: var(--color-primary);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-right: 1rem;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: var(--color-button-text);
  text-decoration: none;
  font-size: 1.2rem;
}

.navLink:hover {
  text-decoration: underline;
  color: var(--color-primary-hover);
}